<h2>Secenek Listesi</h2>
<back-button></back-button><h3>Soru: {{secSoru?.soru}}</h3>

<button mat-fab color="primary" (click)="Kaydet()">
  <mat-icon aria-label="label">add</mat-icon>
</button>
<mat-table [dataSource]="dataSource" matSort>
  <ng-container matColumnDef="secenek">
    <mat-header-cell *matHeaderCellDef mat-sort-header> Secenek Adı
    </mat-header-cell>
    <mat-cell *matCellDef="let secenek"> {{secenek.secenek}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="islemler">
    <mat-header-cell *matHeaderCellDef> İşlemler
    </mat-header-cell>
    <mat-cell *matCellDef="let secenek">


      <button mat-icon-button color="primary" matTooltip="Secenek Düzenle" (click)="SecenekDuzenle(secenek)">
        <mat-icon aria-label="label">edit</mat-icon>
      </button>

      <button mat-icon-button color="warn" matTooltip="Secenek Kaydını Sil" (click)="SecenekSil(secenek)">
        <mat-icon aria-label="label">delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>


  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>
<mat-paginator [length]="secenekler?.length" [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons>
</mat-paginator>
