<div class="container mt-5">

  <div class="row" *ngIf="this.IsAdmin">
    <div class="col-8">
      <h3>Üyeler</h3>
      <button class="btn btn-outline-primary" (click)="Ekle(modalEkleDuzenle)">Uye Ekle</button>
      <table class="table table-hover mt-3">
        <thead>
          <th>Adı</th>
          <th>Soyadı</th>
          <th>E-Posta</th>
          <th>Yönetici mi</th>
          <th>Sil</th>
        </thead>
        <tbody>
          <tr *ngFor="let uye of uyeler">
            <td>{{uye.Ad}}</td>
            <td>{{uye.Soyad}}</td>
            <td>{{uye.email}}</td>
            <td>
              <span *ngIf="uye.admin" class="badge bg-success">Evet</span>
              <span *ngIf="!uye.admin" class="badge bg-danger">Hayır</span>
            </td>
            <td><button class="btn btn-outline-danger" (click)="Sil(uye,modalSil)">Sil</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="modal" tabindex="-1" #modalEkleDuzenle>
  <div class="modal-dialog">
    <form [formGroup]="frm" (ngSubmit)="UyeEkle()">
      <div class="modal-content">
        <div class="modal-header bg-primary text-white">
          <h5 class="modal-title">{{modalBaslik}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="form-group">
              <label>Ad</label>
              <input type="text" class="form-control" formControlName="Ad">
            </div>
            <div class="form-group">
              <label>Soyad</label>
              <input type="text" class="form-control" formControlName="Soyad">
            </div>
            <div class="form-group">
              <label>E-Posta</label>
              <input type="text" class="form-control" formControlName="email">
            </div>
            <div class="form-group">          
              <input type="checkbox"  class="form-check-input" formControlName="admin"> Admin
          </div>
                                  
            <div class="form-group">
              <label>Parola</label>
              <input type="password" class="form-control" formControlName="password">
            </div>
          </div>
        <div class="modal-footer">

          <input type="submit" class="btn btn-outline-primary" value="Kaydet">
          <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Kapat</button>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="modal" tabindex="-1" #modalSil>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-danger text-white">
        <h5 class="modal-title">{{modalBaslik}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h6 *ngIf="secUye">{{secUye.Ad}} adlı Üye Silinecektir Onaylıyor musunuz?</h6>
      </div>
      <div class="modal-footer">

        <button class="btn btn-outline-danger" *ngIf="secUye" (click)="UyeSil(secUye)">Sil</button>
        <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Kapat</button>
      </div>
    </div>

  </div>
</div>